<html>

<link rel="stylesheet" href="search/search.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js" type="text/javascript"></script>
<script src="https://m-e-conroy.github.io/angular-dialog-service/javascripts/dialogs.min.js" type="text/javascript"></script>
<body>
<div ng-app="search" ng-controller="searchCtrl">
    <div class="container searchContainerWrapper">
        <div class="searchContainer">
            <div class="row">
                <div class="dailySearchAppts col-6">
                    <div class="searchTitle">Calendar Search:</div>
                    <div class="calSearchHeader">
                        <div class="calInputTitles">Calendar Name:</div>

                        <select class="calListing" ng-model="searchCalendar" ng-options="x for x in calendarNames"></select>
                        <div class="calSearchDateTitle">Date to Search:</div>
                        <input type="date" ng-model="searchDate" style="margin: 0px 2px;">
                        <button type="submit" ng-click="apptSearchEngine()">Submit</button>
                    </div>
                    <table>
                        <tr>
                            <td></td>
                            <td>First Name</td>
                            <td>Last Name</td>
                            <td>Appt Start Time</td>
                            <td>Appt End Time</td>
                            <td>Status</td>
                        </tr>
                        <tr ng-repeat="x in apptSearchResults">
                            <td><input type="checkbox" ng-click="addToList(x.id)"></td>
                            <td>{{ x.customer.firstName }}</td>
                            <td>{{ x.customer.lastName }}</td>
                            <td>{{ x.aptstartTime | date:'shortTime'}}</td>
                            <td>{{ x.aptendTime | date:'shortTime'}}</td>
                            <td ng-init="statusCodes = ['Scheduled', 'Checked In', 'In Process', 'Discharged', 'Canceled']">
                                {{ statusCodes[x.status] }}</td>
                            <!--<td><button ng-click="buttonPressed(x)">Update</button></td>-->
                        </tr>
                    </table>
                    <div class="row buttonWrapper">
                        <div class="add buttonFormat">
                            <!-- Trigger/Open The Modal -->
                            <button id="addButton" ng-click="addButtonPressed()">Add Appointment</button>

                            <!-- The Modal -->
                            <div id="addModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <div class="updateApptModalHeader">
                                        Add Appointment
                                    </div>
                                    <form name="newAppointmentForm" class="row">
                                        <div class="col-6">
                                            <div class="modalInputHeaders">First Name:</div>
                                            <input ng-model="firstName">
                                            <br>
                                            <div class="modalInputHeaders">Last Name:</div>
                                            <input ng-model="lastName">
                                            <br>
                                            <div class="modalInputHeaders">Phone Number:</div>
                                            <input ng-model="patientPhoneNumber">
                                        </div>
                                        <div class="col-6">
                                            <div class="modalInputHeaders">Appt Date:</div>
                                            <input type="date" ng-model="addApptDate">
                                            <br>
                                            <div class="modalInputHeaders">Start Time:</div>
                                            <input type="time" ng-model="addApptStartTime" step="60">
                                            <br>
                                            <div class="modalInputHeaders">End Time:</div>
                                            <input type="time" ng-model="addApptEndTime" step="60">
                                            <br>
                                            <div class="modalInputHeaders">Calendar:</div>
                                            <select ng-model="modalCalendar" ng-options="x for x in calendarNames"></select>
                                            <br>
                                        </div>
                                        <div class="patientButton">
                                            <button type="submit" ng-click="addNewAppointment()">Submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="merge buttonFormat">
                            <!-- Trigger/Open The Modal -->
                            <button id="mergeButton" ng-click="mergeButtonPressed()">Merge</button>

                            <!-- The Modal -->
                            <div id="mergeModal" class="modal">

                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <div class="updateApptModalHeader">
                                        Merge Appointments
                                    </div>
                                    <form name="newAppointmentForm" class="row">
                                        <div class="col-6">
                                            <div class="calInputTitles mergeTitles">Calendar to Merge From:</div>

                                            <select class="calListing" ng-model="searchCalendar" ng-options="x for x in calendarNames"></select>
                                            <div class="calSearchDateTitle mergeTitles">Date to Merge From:</div>
                                            <input type="date" ng-model="searchDate" style="margin: 0px 2px;">
                                        </div>
                                        <div class="col-6">
                                            <div class="calInputTitles mergeTitles">Calendar to Merge To:</div>

                                            <select class="calListing" ng-model="searchCalendarMerge" ng-options="x for x in calendarNames"></select>
                                            <div class="calSearchDateTitle mergeTitles">Date to Merge To:</div>
                                            <input type="date" ng-model="searchDateMerge" style="margin: 0px 2px;">
                                        </div>
                                        <div class="patientButton">
                                            <button type="submit" ng-click="mergeAppointment()">Submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="delete buttonFormat">
                            <button id="accept-favor" ng-click="deleteFromSearchResults()">Delete</button>
                        </div>

                    </div>

                </div>
                <div class="col-6 row searchWrapper">
                    <div class="patientSearch col-12">
                        <div class="searchTitle">Search by Patient:</div>
                        <div class="patientSearchInputFields">
                            <div class="inputTitles">First Name:</div>
                            <input type="search" ng-model="firstName" style="margin: 2px">
                            <div class="inputTitles">Last Name:</div>
                            <input type="search" ng-model="lastName">
                            <button type="submit" ng-click="customerSearchEngine()">Submit</button>
                        </div>
                    </div>
                    <div class="tableWrapper col-12">
                        <table id="patientSearchTable">
                            <tr>
                                <td>Last Name</td>
                                <td>First Name</td>
                                <td>Phone Number</td>
                            </tr>

                            <tr ng-repeat="x in patientSearchResults">
                                <td ng-click="searchPatientAppointments(x)">{{ x.lastName }}</td>
                                <td>{{ x.firstName }}</td>
                                <td>{{ x.phoneNumber }}</td>
                            </tr>
                        </table>
                        <table id="patientAppointmentTable">
                            <tr>
                                <td>Calendar</td>
                                <td>Date</td>
                                <td>Start Time</td>
                                <td>End Time</td>
                                <td>Status</td>
                                <td>Reason</td>
                            </tr>
                            <tr ng-repeat="x in patientAppointmentSearchResults">
                                <td>{{ x.calName }}</td>
                                <td>{{ x.appointment.aptstartTime | date:'shortDate'}}</td>
                                <td>{{ x.appointment.aptstartTime | date:'shortTime'}}</td>
                                <td>{{ x.appointment.aptendTime | date:'shortTime'}}</td>
                                <td ng-init="statusCodes = ['Scheduled', 'Checked In', 'In Process', 'Discharged', 'Canceled']">
                                    {{ statusCodes[x.appointment.status] }}</td>
                                <td>{{ x.appointment.reason }}</td>
                                <td><button ng-click="buttonPressed(x)">Update</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="update">
                <!-- The Modal -->
                <div id="updateModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="updateApptModalHeader">
                            Update Appointment
                        </div>
                        <form name="updateAppointmentForm" class="row">
                            <div class="col-6">
                                <div class="modalInputHeaders">First Name:</div>
                                <input ng-model="firstName" disabled="disabled">
                                <br>
                                <div class="modalInputHeaders">Last Name:</div>
                                <input ng-model="lastName" disabled="disabled">
                                <br>
                                <div class="modalInputHeaders">Phone Number:</div>
                                <input ng-model="patientPhoneNumber" disabled="disabled">
                            </div>
                            <div class="col-6">
                                <div class="modalInputHeaders">Appt Date:</div>
                                <input type="date" ng-model="addApptDate">
                                <br>
                                <div class="modalInputHeaders">Start Time:</div>
                                <input type="time" ng-model="addApptStartTime" step="60">
                                <br>
                                <div class="modalInputHeaders">End Time:</div>
                                <input type="time" ng-model="addApptEndTime" step="60">
                                <br>
                                <div class="modalInputHeaders">Calendar:</div>
                                <select ng-model="modalCalendar" ng-options="x for x in calendarNames"></select>
                                <br>
                            </div>
                            <div class="patientButton">
                                <button type="submit" ng-click="updateAppointment()">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>

