.searchContainerWrapper {
    max-width: 9999px !important;
    margin-left: 0px !important;

}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #ffffff;
}
table tr:nth-child(even) {
    background-color: #4dacfd4a;
}

.calSearchHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-height: 30px;
    padding-bottom: 25px;
}

.searchTitle {
    display: flex;
    font-size: 18px;
    width: 165px;
}

.calInputTitles {
    font-size: 14px;
    width: 140px;
    padding: 0px 5px;
}

.calListing {
    margin-top: 2px;
}

.inputTitles {
    font-size: 14px;
    width: 90px;
    padding: 0px 5px;
}

.calSearchDateTitle {
    font-size: 14px;
    width: 110px;
    padding: 0px 5px;
}

.patientSearch{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-height: 32px;
}

.patientSearchInputFields {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 3px;
}

.searchWrapper {
    flex-wrap: nowrap !important;
    flex-direction: column;
}
/* MODAL STYLES
-------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

