<html>
<link rel="stylesheet" href="view2/view2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>


<div ng-app="demo" ng-controller="onPageLoad">
    <div class="container calWrapper" ng-if="pageLoaded" ng-controller="dateController">
        <div class="row">
            <div class="appointmentsList col-4">
                <div class="dailyAppointmentTitle">
                    <input type="date" ng-model="selectedDate" ng-change="updateDate()">
                    <select ng-model="searchCalendar" ng-options="x for x in calendarNames"  ng-change="updateDate()"></select>
                </div>
                <div ng-init="statusCodes = {0: 'Scheduled',1: 'CheckedIn',2: 'InProcess',3: 'Discharged',4: 'Canceled'}">
                </div>
                <div ng-init="statusCodesWSpaces = {0: 'Scheduled',1: 'Checked In',2: 'In Process',3: 'Discharged',4: 'Canceled'}">
                </div>

                <table>
                    <tr class="dailyHeader">
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Appt Start Time</td>
                        <td>Appt End Time</td>
                        <td>Status</td>
                    </tr>
                         <tr class="dailyContents {{statusCodes[x.status]}}" ng-repeat="x in data.todayAppointment">
                             <td>{{ x.customer.firstName }}</td>
                             <td>{{ x.customer.lastName }}</td>
                             <td>{{ x.aptstartTime | date:'shortTime'}}</td>
                             <td>{{ x.aptendTime | date:'shortTime'}}</td>
                             <td>
                             <form name="myStatusCode" ng-controller="statusCodeController">
                                <label for="statusCode"></label>
                                   <select name="statusCode" id="statusCode" ng-model="data.selectedStatusCode" ng-change="updatedStatus(x.id)">

                                        <option value="">{{statusCodesWSpaces[x.status]}}</option>
                                        <option ng-repeat="option in data.statusOptions" ng-value="option.statusID">{{option.statusName}}
                                   </select>
                             </form>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="calendarContainer col-8">
                <div class="scrollableTimeBar" ng-style="{top: scrollableTimeBarHeight+ 'px'}"></div>
                <div class="weekTitle" ng-model="weeklyDate">
                    {{weeklyDate.firstDayOfCalendar | date: "longDate"}} - {{weeklyDate.lastDayOfCalendar | date: "longDate"}}
                </div>
                <div class="innerCalContainer">
                    <div class="timeColumn" ng-model="officeApptTimes">
                       <div class="timeRepeater" ng-repeat="time in officeApptTimes">
                           {{time}}
                       </div>
                    </div>
                    <div class="calendarColumn " ng-repeat="day in data.calendarData">
                        <div class="dayHeader {{day.isCorrectDayToHighlight}}">
                            <div class="numericDay">
                                {{day[0].aptstartTime | date: "d"}}
                            </div>
                            <div class="dayInWeek">
                                <div class="innerWeek">
                                    {{day[0].aptstartTime | date: "EEEE"}}
                                </div>
                            </div>
                        </div>
                        <div class="appointmentWrapper">
                            <div id="{{ a.id }}" class="appointment {{ a.isBlank }}" ng-repeat="a in day" ng-style="{height: a.heightInPixels+ 'px'}" ng-model="selectedDate" ng-click="clickAppointment(a)">
                                <div class="appointmentMessaging" >
                                    {{ a.customer.lastName }} , {{ a.customer.firstName }}
                                    <br>
                                    {{ a.aptstartTime | date: 'shortTime' }} -  {{ a.aptendTime | date: 'shortTime' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>
