<html>
<link rel="stylesheet" href="view2/view2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<body>


<div ng-app="demo" ng-controller="demoCtrl">
    <div class="container calWrapper">
        <div class="row">
            <div class="appointmentsList col-4">
                <div class="dailyAppointmentTitle">
                    Your appointments for the Day: 2/25/2025
                </div>
                <table>
                    <tr>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Calendar Name</td>
                        <td>Appt Start Time</td>
                        <td>Appt End Time</td>
                        <td>Reason</td>
                    </tr>

                    <tr ng-repeat="x in data.todayAppointment">
                        <td>{{ x.firstName }}</td>
                        <td>{{ x.lastName }}</td>
                        <td>{{ x.calendarName }}</td>
                        <td>{{ x.startDateTime | date:'shortTime'}}</td>
                        <td>{{ x.endDateTime | date:'shortTime'}}</td>
                        <td>{{ x.reason }}</td>
                    </tr>
                </table>
            </div>
            <div class="calendarContainer col-8">
                <div class="calendarTitle">
                    Weekly Calendar View
                </div>
                <div class="calenderHeaders">
                    <table class="weekContainer">
                        <tr>
                            <td class="weekHeader">Monday</td>
                            <td class="weekHeader">Tuesday</td>
                            <td class="weekHeader">Wednesday</td>
                            <td class="weekHeader">Thursday</td>
                            <td class="weekHeader">Friday</td>
                        </tr>
                    </table>
                </div>
                <div class="calenderContents">
                    <div class="calenderTimes">
                        <div class="times" ng-repeat="timeSlot in data.calendarTimes">
                            {{ timeSlot.time }}
                        </div>
                    </div>
                    <div class="dailyColumn" ng-repeat="calendar in data.calendarData">
                        <div class="appointment {{ a.isBlank }}" ng-repeat="a in calendar" ng-style="{height: a.heightInPixels+ 'px'}">
                            <div class="appointmentMessaging" >
                                {{ a.lastName }}, {{ a.firstName }}
                                <br>
                                {{ a.startDateTime | date: 'shortTime' }} -  {{ a.endDateTime | date: 'shortTime' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>
