.headerMessage {
    display: inline-block;
    font-size: 24px;
    vertical-align: bottom;
}

.calendarContainer {
    background-color: #e3e3e3;
    padding-bottom: 15px;
}

.weekTitle {
    font-size: 18px;
    padding-left: 40px;
}
.innerCalContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.timeColumn {
    width: 20%;
    text-align: right;
    background-color: #e3e3e3;
    margin-top: 13px;
    margin-bottom: -5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.timeRepeater {
    z-index: 2;
}

.calendarColumn {
    background-color: #f1f1f1;
    width: 100%;
    margin: 0px 1px;
    text-align: center;
}
.appointmentWrapper {
    background-size: 100px 72px;
    background-image: linear-gradient(to bottom, grey 1px, transparent 1px);
}
.appointment {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    font-size: 12px;
}
.appointmentMessaging {
    background-color: #4dacfd4a;
    width: 95%;
    margin: 1px 2px;
    overflow: hidden;
}
.dayHeader {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    background-color: #e3e3e3;
}
.numericDay {
    align-self: flex-start;
    margin-left: 5px;
}
.dayInWeek {
    align-self: center;
    width: 100%;
}

.innerWeek {
    justify-content: center;
}

.dailyAppointmentTitle {
    font-size: 16px;
}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
/*table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}*/

.dailyHeader {
    font-size: 14px;
}
.correctHighlightedDay{
    font-size: 14px;
    color: blue ;
}

.dailyContents {
    font-size: 12px;
}

.blank {
    border: none;
}

.blank .appointmentMessaging {
    display: none;
}
.times {
    display: none;
    height: 20px;
}

.calendarTitle {
    font-size: 16px;
    text-align: center;
}
.calenderContents {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    background-color: #ccc;
    background-size: 100px 50px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

 .Scheduled{
    background-color: #f1f1f1 ;
}
 .CheckedIn{
     background-color:  #eaf298;
 }
 .InProcess{
     background-color: lightblue;
 }
 .Discharged{

     background-color: lightgreen;

 }
 .Canceled{
     background-color: #ff596c;
 }
.calWrapper {
    max-width: 100% !important;
}
.dailyColumn {
    width: 15%;
    flex-direction: column;
}

.weekContainer {
    width: 100%;
}
.weekHeader {
    font-size: 14px;
    width: 14%;
    text-align: center;
}

.scrollableTimeBar {
    position: relative;
    width: 100%;
    top: 100px;
    border-bottom: 2px solid rgba(255, 10, 17, 0.81);
    z-index: 1;
}

